*{
    box-sizing: border-box;
}
body {
    font-family:sans-serif;
    
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 3rem;
    justify-content: center;
}
.card{
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 10px 5px 20px #999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    cursor: pointer;
    transition: transform 200ms ease-in;

}
.card-image{
    height: 12rem;
    width: 100%;
    object-fit: cover;
}
.btn-card{
    background-color: darkgreen;
    color:gold;
    font-family:cursive;
    width: 100px;
    height: 25px;
    margin-left: 80px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;   
    transition: background 200ms ease-in, 200ms ease-in;
}
