*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container-fluid {
    text-align: center;
    background-color: rgb(201, 149, 158);
}
.jumbo-title {
    text-align: center;
}
.nav {
    background-color: gray;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 5px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.nav li:hover {
    background-color: darkgreen;
}
.btn {
    background-color: darkgreen;
    color:gold;
    font-family:cursive;
}
